<div class = "container level_1 col-sm-4">
  <%= simple_form_for(resource, 
                      :html => { :role => 'form' }, 
                      :as =>   resource_name, 
                      :url =>  session_path(resource_name)) do |f| %>

    <div class = "container level_2 well">
      <fieldset>
        <legend>Sign In</legend>	

        <%= f.input :email,
                    my_wrapper:   false,
                    input_html:   { class: 'form-control' } %>

        <%= f.input :password, 
                    my_wrapper:   false,
                    input_html:   { class: 'form-control' } %>

        <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me,  as: :boolean,
                    my_wrapper:   false,
                    input_html:   { class: 'form-control' } %> 
        <% end %>
      </fieldset>

      <%= f.button :submit, "Sign In", { class: 'btn btn-primary' } %>
    </div>

    <div class="col-sm-8">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

<div class="col-lg-12">
  <h2>Signing in is easy and secure</h2>
<div>